PORT=3333
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_CALENDAR_WORK_ID=
GOOGLE_CALENDAR_PERSONAL_ID=
GOOGLE_CALENDAR_WIFE_ID=
GOOGLE_CALENDAR_FAMILY_ID=
OBSCURE_WORK_TITLES=false
OBSCURE_PERSONAL_TITLES=false
OBSCURE_WIFE_TITLES=false
OBSCURE_FAMILY_TITLES=false
